$main-color: #263257;
$main-color-light: #2a3760;
$main-color-lighter: #566187;
$main-color-dark: #212c4d;
$main-color-darker: #1e2845;

$button-color: #00a79d;
$button-color-dark: #00847b;
$green-color: #2ba79d;
$red-color: #da3746;

$text-color: #6b83a5;

.container{
    max-width: 85rem;
    margin: 0 auto;
}

.d-none{
    display: none;
}